.body {
    font-family: "Roboto";
    position: fixed;
    display: flex;
    flex-shrink: 0;
}

.prima {
    display: flex;
    background-color: #1f2937;
    flex-shrink: 0;
    margin-left: -110px;
    margin-right: -107px;
    margin-top: -10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 90px;
    font-weight: bold;
    flex-shrink: 0;
    padding-left: 414px;
}
.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 15px;
    padding: 10px;
    flex-shrink: 0;
}
.op {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 400px;
    margin-top: 20px;
    flex-shrink: 0;
}
a:link { 
    text-decoration: none; 
    color: #E5E7EB;
  } 
  a:visited { 
    text-decoration: none; 
    color: #E5E7EB;
  } 
  a:hover { 
    text-decoration: none; 
    color: #E5E7EB;
  } 
  a:active { 
    text-decoration: none; 
    color: #E5E7EB;
  }
  .sinistra {
    display: flex;
  }
  .awesome {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-left: 500px;
    flex-shrink: 0;

  }
  .piccolo {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 500px;
    width: 39%;
    margin-bottom: 20px;
    flex-shrink: 0;
  }
  .sign {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #3882F6;
    margin-right: 70%;
    margin-left: 500px;
    justify-content: center;
    width: 10%;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 100px;
    flex-shrink: 0;
}

  .destra {
    display: flex;
    font-size: 18px;
    color: darkgray;
    background-color: gray;
    padding: 100px;
    margin-left: 1100px;
    margin-top: -300px;
    margin-bottom: 100px;
    flex-shrink: 0;
  }
  .seconda {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 30px;
    flex-shrink: 0;
  }
  .elementi{
    display: flex;
    flex-shrink: 0;
  }


  .quadrati {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 40px;
    flex-shrink: 0;
    resize: none;
  }
  .p1 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: antiquewhite;
    background-color: rgb(255, 255, 255);
    padding: 80px;
    border-radius: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-color: #3882F6;
    flex-shrink: 0;
  }
  .sottoquadrati {
    display: flex;
    justify-content:center;
    align-content: center;
    text-align: center;
    align-self: center;
    flex-shrink: 0;
    width: 30%;
    gap: 5px;
    margin-left: 400px;
  }
  .s1{
    display: flex;
    justify-content:center;
    margin-left: 320px;
    color: darkgray;
    flex-shrink: 0;
    width: 30%;
  }
  .s2{
    display: flex;
    justify-content:center;
    margin-left: 65px;
    color: darkgray;
    width: 30%;
    flex-shrink: 0;
  }
  .s3{
    display: flex;
    justify-content:center;
    margin-left: 60px;
    color: darkgray;
    flex-shrink: 0;
    width: 30%;
  }
  .s4 {
    display: flex;
    justify-content:center;
    margin-left: 60px;
    margin-right: -70px;
    margin-bottom: 100px;
    color: darkgray;
    flex-shrink: 0;
    width: 30%;
  }
  .tre {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-content: center;
    margin-left: -110px;
    margin-right: -107px;
    flex-shrink: 0;

  }
  .descrizione {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    justify-content: center;
    align-content: center;
    margin-left: -80px;
    margin-right: -40px;
    margin-top: 150px;
    width: 40%;
    background-color: #E5E7EB;
    flex-shrink: 0;
  }
  .grassetto {
    display: flex;
    justify-content: flex-end;
    margin-right: -110px;
    padding-right: 615px;
    margin-left: -100px;
    font-weight: bold;
    font-size: 20px;
    color: #1f2937;
    background-color: #E5E7EB;
    padding-bottom: 100px;
    flex-shrink: 0;
  }
  .quattro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
    margin-top: 120px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: -40px;
    padding-top: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex-shrink: 0;
  }
  .sottoquattro {
    display: flex;
    flex-shrink: 0;
  }
  .sottotesto {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 300px;
    padding-bottom: 30px;
    margin-bottom: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-shrink: 0;
  }
  .azione {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 300px;
    flex-shrink: 0;
  }
  .pulsante {
    display: flex;
    margin-left: 300px;
    margin-top: -20px;
    border-style: solid;
    border-color: #E5E7EB;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  .cinque {
display: flex;
color: #E5E7EB;
background-color: #1f2937;
justify-content: center;
align-content: center;
padding-top: 30px;
padding-bottom: 30px;
margin-left: -110px;
margin-right: -107px;
margin-bottom: -102px;
flex-shrink: 0;
padding-right: 200px;
  }
  #wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1700px;
}